<h1>Editing Add Userid To Comment</h1>

<%= render 'form', add_userid_to_comment: @add_userid_to_comment %>

<%= link_to 'Show', @add_userid_to_comment %> |
<%= link_to 'Back', add_userid_to_comments_path %>
