<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @add_userid_to_comment.user %>
</p>

<%= link_to 'Edit', edit_add_userid_to_comment_path(@add_userid_to_comment) %> |
<%= link_to 'Back', add_userid_to_comments_path %>
