<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @add_userid_to_post.user %>
</p>

<%= link_to 'Edit', edit_add_userid_to_post_path(@add_userid_to_post) %> |
<%= link_to 'Back', add_userid_to_posts_path %>
